src/main/resources/xsd/EXCHANGE.RATE/SchemaTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
	targetNamespace="urn:esbbank.com/gbo/xml/schemas/v1_0/" version="1.0"
	xmlns:esbbankgbo="urn:esbbank.com/gbo/xml/schemas/v1_0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- Basic Types -->
	<xsd:simpleType name="ReferenceNum">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ReferenceNumConsumer">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ReferenceNumProvider">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CustomerNumber">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TimeStampStr">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Return Status Types -->
	<xsd:complexType name="ReturnStatus">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ReturnStatusProvider">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Exchange Rate Record -->
	<xsd:complexType name="ExchangeRateRecord">
		<xsd:sequence>
			<xsd:element name="currencyCode" type="xsd:string"/>
			<xsd:element name="rate" type="xsd:decimal"/>
			<xsd:element name="rateType" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
