src/main/resources/xsd/DCARD.PIN.VERIFICATION/EAI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
	targetNamespace="urn:esbbank.com/gbo/xml/schemas/v1_0/" version="1.0"
	xmlns:esbbankgbo="urn:esbbank.com/gbo/xml/schemas/v1_0/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="SchemaTypes.xsd" />
	<xsd:include schemaLocation="SIGN.ON.xsd" />
	<xsd:include schemaLocation="DCARD.PIN.VERIFICATION.xsd" />
	
	<xsd:element name="eAI_MESSAGE" type="esbbankgbo:EAI_MESSAGE" />
	<xsd:complexType name="EAI_MESSAGE">
		<xsd:sequence>
			<xsd:element name="eAI_HEADER" type="esbbankgbo:EAI_HEADER" />
			<xsd:element name="eAI_BODY" type="esbbankgbo:EAI_BODY" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EAI_HEADER">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="serviceName"
				type="esbbankgbo:ServiceName" />
			<xsd:element minOccurs="1" name="serviceType"
				type="esbbankgbo:ServiceType" />
			<xsd:element minOccurs="1" name="serviceVersion"
				type="esbbankgbo:ServiceVersion" />
			<xsd:element minOccurs="1" name="client"
				type="esbbankgbo:Client" />
			<xsd:element minOccurs="1" name="clientChannel"
				type="esbbankgbo:ClientChannel" />
			<xsd:element minOccurs="1" name="msgChannel"
				type="esbbankgbo:MsgChannel" />
			<xsd:element minOccurs="1" name="requestorLanguage"
				type="esbbankgbo:RequestorLanguage" />
			<xsd:element minOccurs="1" name="securityInfo"
				type="esbbankgbo:SecurityInfo" />
			<xsd:element minOccurs="0" name="eaiReference"
				type="esbbankgbo:SnapIns" />
			<xsd:element minOccurs="1" name="returnCode"
				type="esbbankgbo:ReturnCode" />
			<xsd:element minOccurs="0" name="snapIn"
				type="esbbankgbo:SnapIns" />
			<xsd:element minOccurs="0" maxOccurs="1" name="retryMsg"
				type="esbbankgbo:RetryMsg" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EAI_BODY">
		<xsd:choice maxOccurs="1" minOccurs="1">
			<xsd:element name="eAI_REQUEST"
				type="esbbankgbo:EAI_REQUEST" />
			<xsd:element name="eAI_REPLY" type="esbbankgbo:EAI_REPLY" />
			<xsd:element name="eAI_FAULT" type="esbbankgbo:EAI_FAULT" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="EAI_REQUEST">
		<xsd:choice maxOccurs="100" minOccurs="1">
			<xsd:element name="signOnRequest"
				type="esbbankgbo:SignOnRequest" />
			<xsd:element name="debitCardPINVerificationRequest"
				type="esbbankgbo:DebitCardPINVerificationRequest" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="EAI_REPLY">
		<xsd:choice maxOccurs="100" minOccurs="1">
			<xsd:element name="signOnReply"
				type="esbbankgbo:SignOnReply" />
			<xsd:element name="debitCardPINVerificationReply"
				type="esbbankgbo:DebitCardPINVerificationReply" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="EAI_FAULT">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="referenceNum"
				type="esbbankgbo:ReferenceNum" />
			<xsd:element maxOccurs="1" minOccurs="0"
				name="referenceNumConsumer" type="esbbankgbo:ReferenceNumConsumer" />
			<xsd:element maxOccurs="1" minOccurs="0"
				name="referenceNumProvider" type="esbbankgbo:ReferenceNumProvider" />
			<xsd:element maxOccurs="1" minOccurs="0" name="requestTime"
				type="esbbankgbo:TimeStampStr" />
			<xsd:element maxOccurs="1" minOccurs="1" name="returnStatus"
				type="esbbankgbo:ReturnStatus" />
			<xsd:element name="esbErrorTrace" maxOccurs="1"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>